<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="../images/logo.png" sizes="32x32">
    <title>Movies</title>
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>
    <header>
        <a class="logo" style="text-decoration: none;" href="../index.html">
            <img src="../images/logo.png">
            <h3>POPCORN & FILM</h3>
        </a>
    </header>
    <div class="carrusel">
        <div class="slide-track">
            <div class="slide">
                <img src="../images/general/imagen 1.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 2.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 3.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 4.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 5.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 6.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 7.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 8.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 9.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 10.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 11.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 12.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 13.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 14.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 25.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 16.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 17.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 18.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 19.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 20.jpg">
            </div>
            <div class="slide">
                <img src="../images/general/imagen 21.jpg">
            </div>
        </div>
    </div> 
    <main>
        <aside>
            <h4>Categorias</h4>
            <ul>
                <a href="./accion.html">
                    <li>Acción</li>
                </a>
                <a href="./aventura.html">
                    <li>Aventura</li>
                </a>
                <a href="./animacion.html">
                    <li>Animación</li>
                </a>
                <a href="./comedia.html">
                    <li>Comedia</li>
                </a>
                <a href="./crimen.html">
                    <li>Crimen</li>
                </a>
                <a href="./documental.html">
                    <li>Documental</li>
                </a>
                <a href="./drama.html">
                    <li>Drama</li>
                </a>
                <a href="./familia.html">
                    <li>Familia</li>
                </a>
                <a href="./fantasia.html">
                    <li>Fantasía</li>
                </a>
                <a href="./historia.html">
                    <li>Historia</li>
                </a>
                <a href="./terror.html">
                    <li>Terror</li>
                </a>
                <a href="./musica.html">
                    <li>Música</li>
                </a>
                <a href="./misterio.html">
                    <li>Misterio</li>
                </a>
                <a href="./romance.html">
                    <li>Romance</li>
                </a>
                <a href="./ciencia.html">
                    <li>Ciencia</li>
                </a>
                <a href="./suspenso.html">
                    <li>Suspenso</li>
                </a>
                <a href="./belica.html">
                    <li>Bélica</li>
                </a>
                <a href="./western.html">
                    <li>Western</li>
                </a>
            </ul>
        </aside>
        <article>
            <h4>Contactame</h4>
            <form method="post">
                <div class="col-md-6" style="margin:0 auto;">
                    <div class="form-group">
                        <label for="txtNombre">Nombre</label>
                        <input type="Text" class="form-control" name="nombre" id="txtNombre" placeholder="Jonh Doe">
                    </div>
                    <div class="form-group">
                        <label for="txtCorreo">Correo</label>
                        <input type="text" class="form-control" name="correo" id="txtCorreo" placeholder="nombre@ejemplo.com">
                    </div>
                    <div class="form-group">
                        <label for="txtMensaje">Cuentame tu solicitud</label>
                        <textarea class="form-control" id="txtMensaje" name="mensaje" rows="7"></textarea>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                </div>
            </form>
        </article>
    </main>
    <footer>
      <p>©Copyright <span id="year"></span> Kenny Geobanny Grisales</p>
        <a href="https://www.facebook.com/kennygeobany.grisalesrendon">
            <img src="../images/icons/facebook.png"/>
        </a>
        <a href="https://www.instagram.com/giovanykenny">
            <img src="../images/icons/instagram.png"/>
        </a>
        <a href="https://wa.me/+573239869715">
            <img src="../images/icons/whatsapp.png"/>
        </a>
    </footer>
  </body>
    <script src="../javascript/jquery3.7.1.min.js"></script>
    <script src="../javascript/bootstrap.min.js"></script>
    <script src="../javascript/main.js"></script>
</html>